@media all and (max-width: 900px){
    .headingH1{
        font-size: 5vw;
    }

    .tittleBlock{
        width: calc((90% - 18px) / 3);

        font-size: 3vw;
    }

    #calendarBlock{
        border-radius: 0 0 5px 5px;
    }

    #nextMonth, #selectedYear, #prevMonth{
        font-size: 3vw;
    }

    th {
        font-size: 3vw;
    }

    td > p {
        font-size: 1.5vw;
    }

    .p_day_table {
        font-size: 2.5vw;
    }

    .tableDivStyle{
        overflow-y: auto;
    }
}