body, div, footer, header {
    font-family: Arial, serif;
    margin: 0;
    padding: 0;
    width: 100%;

    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

h1, h2, h3, h4, div, p, a{
    margin: 0;
    padding: 0;
}